.wrapper {
    height: 100%;
    width: 470px;
    display: flex;
    flex-direction: column;
    padding: 48px 0px 0px;

    .loginContainer {
        flex: 1 1 0%;
        overflow: auto;

        .back {
            left: 16px;
            position: absolute;
            top: 16px;
            cursor: pointer;
            transform: unset;

        }

        .divLoginContainer {

            width: 375px;
            margin: auto;
            padding: unset;

            .divHomeContainer {
                padding: unset;

                .login-title {
                    font-family: "IBM Plex Sans", Tahoma, sans-serif;
                    color: rgb(22, 24, 35);
                    font-size: 32px;
                    margin: 16px auto;
                    font-weight: 900;
                    text-align: center;
                }

                .loginLink {
                    color: rgba(22, 24, 35, 0.75);
                    font-weight: 600;
                    font-size: 12px;
                }
            }
        }
    }

    .confirm-tip {
        width: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        background: rgb(255, 255, 255);
        border-bottom: 1px solid rgba(22, 24, 35, 0.12);
        border-top-color: rgba(22, 24, 35, 0.12);
        border-right-color: rgba(22, 24, 35, 0.12);
        border-left-color: rgba(22, 24, 35, 0.12);
        padding: 16px 30px;
        margin-bottom: unset;

        .Ptext {
            color: rgba(22, 24, 35, 0.5);
            font-family: var(--font-family);
            font-size: 12px;
            line-height: 15px;
            width: 375px;
            text-align: center;
        }
    }

    .footer {
        color: rgb(22, 24, 35);
        font-weight: 600;
        height: 64px;
        border-top: 1px solid rgba(22, 24, 35, 0.12);
        margin: unset;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        font-size: 15px;
        line-height: 18px;

        .ALink {
            margin-left: 5px;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            color: rgb(254, 44, 85);
        }
    }
}

.close-button {
    position: absolute;
    top: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1;
    right: 24px;
    width: 24px;
    height: 24px;
    background: rgba(22, 24, 35, 0.03);
    transform: scale(1.7);
}

.divBoxContainer {
    color: rgb(22, 24, 35);
    font-family: ProximaNova, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 0px;
    padding: 0px 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 44px;
    position: relative;
    cursor: pointer;
    margin-bottom: 16px;
    word-break: keep-all;
    white-space: nowrap;
    background: rgb(255, 255, 255);

    .divIconContainer {
        left: 12px;
        font-size: 20px;
        position: absolute;
        display: flex;
    }
}