.container {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f4f4f4;

    .divContainer {
        margin: auto;
        height: calc(100vh - 60px);
        max-width: 1100px;
        min-width: 1100px;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: stretch;
        align-items: stretch;
        padding-top: 16px;
    }

}

.wrapper {
    flex: 0 0 356px;
    position: relative;

    .sidebar_scrollbar {
        width: 356px;
        padding: 16px 16px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 2px 8px rgba(0, 0, 0, .06);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        overflow: hidden auto;
        position: absolute;
        bottom: 0;
        top: 0;
    }
}

.contentContainer {
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .06);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 728px;
    box-sizing: border-box;
    padding: 16px 24px 24px;
    z-index: 1;

    &::-webkit-scrollbar {
        display: none; /* cho Chrome, Safari, and Opera */
    }

    .title {
        font-family: SofiaPro, Arial, Helvetica, sans-serif;
        font-size: 30px;
        line-height: 32px;
        margin: 0 8px 20px;
        font-weight: 700;
        color: rgba(22, 24, 35, 1);
        height: 60px;
        text-align: center;
    }

    .content {
        display: flex;
        position: relative;
        padding-bottom: 16px;
        padding-top: 8px;
        height: 100px;
        align-items: center;



        .label {
            font-family: SofiaPro, Arial, Helvetica, sans-serif;
            font-size: 24px;
            line-height: 24px;
            margin: 20px 15px;
            font-weight: 700;
            color: rgba(22, 24, 35, 1);
            width: 100px;
        }

        .inputContainer {
            position: relative;
            left: 210px;

            .input {
                width: 330px;
                height: 38px;
                border-radius: 4px;
                background: rgba(22, 24, 35, 0.06);
                caret-color: rgb(254, 44, 85);
                color: rgb(0, 0, 0);
                line-height: 24px;
                font: inherit;
                outline: none;
                border: none;
                padding: 7px 12px;
                box-sizing: border-box;
                font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            }
        }

        .subtitle {
            font-family: SofiaPro, Arial, Helvetica, sans-serif;
            font-size: 24px;
            line-height: 24px;
            font-weight: 700;
            color: rgba(22, 24, 35, 1);
            margin: 0 16px 12px;
        }

        .option {
            font-size: 16px;
            line-height: 22px;
            color: rgba(22, 24, 35, 1);
            margin: 30px 16px 0;
        }

        .deleteBtn {
            font-size: 16px;
            line-height: 22px;
            margin: 0 16px;
            color: #fe2c55;
            position: absolute;
            bottom: 16px;
            cursor: pointer;
            background: none;
            right: 0;
        }
    }

}

.hr {
    border-top: 0px solid rgb(224, 224, 224);
}