.wrapper {
  width: 330px;
  flex-shrink: 0;
  padding: 20px 0 26px 8px;
  margin-left: -18px;
  display: flex;
  flex-direction: column;

  ::-webkit-scrollbar-thumb {
    visibility: hidden !important;
    background: rgba(22, 24, 35, 0.06);
  }

  &:hover {
    ::-webkit-scrollbar-thumb {
      visibility: visible !important;
    }
  }

}

.sidebar_scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  perspective: 1px;
  transform-style: preserve-3d;
  perspective-origin: right top;
  top: 80px;
  bottom: 0;
  position: fixed;
  z-index: 9;
  width: 300px;
  padding-bottom: 15px;

  .sidebar_login {
    position: relative;
    padding: 20px 8px;
    margin: 0;

    .login_tip {
      color: rgba(22, 24, 35, 0.5);
      font-size: 16px;
      line-height: 22px;
      display: flex;
    }

    .button_login {
      margin-top: 20px;
      height: 47px;
      width: 100%;
    }
  }

  .contact {
    padding-left: 10px;

    .facebook {
      color: red !important;
      font-size: 18px;
      font-weight: 600;
    }
  }
}