.wrapper {
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 420px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  
 

