.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        padding-top: 24px;
        flex: 0 0 auto;
        padding-left: 16px;

        .headerTitle {
            color: rgb(22, 24, 35);
            font-family: Arial, Tahoma, PingFangSC, sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            display: flex;
        }

        .inboxBar {
            letter-spacing: 0.093px;
            margin-top: 16px;
            display: flex;
            flex-flow: wrap;

            .headerButton {
                font-family: Arial, Tahoma, PingFangSC, sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                color: rgb(22, 24, 35);
                background: rgba(22, 24, 35, 0.06);
                border: none;
                padding: 2px 8px;
                margin-bottom: 12px;
                text-align: center;
                cursor: pointer;
                border-radius: 12px;
                transition: all 300ms ease 0s;
                margin-right: 8px;

                &:hover {
                    background: rgba(0, 0, 0, 0.12);
                }
            }
        }
    }

    .notify-list {
        flex: 1 1 auto;
        overflow: auto;

        .listTitle {
            color: rgba(22, 24, 35, 0.5);
            font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.093px;
            padding: 0px 16px;
            margin-top: 8px;
        }

    }

    .listItem {
        padding: 0px;
        margin: 0px;
        list-style-type: none;

        .itemWrapper {
            padding: 0px;
            margin: 0px;
            list-style-type: none;

            .item {
                font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.093px;
                display: flex;
                flex-direction: row;
                padding: 10px 16px;
                align-items: flex-start;
                cursor: pointer;

                .avatar {
                    flex: 0 0 48px;
                    width: 48px;
                    height: 48px;

                    display: inline-block;
                    box-sizing: border-box;
                    margin: 0px;
                    padding: 0px;
                    font-feature-settings: "tnum";
                    position: relative;
                    overflow: hidden;
                    color: rgb(255, 255, 255);
                    white-space: nowrap;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 32px;
                    border-radius: 50%;

                }

                .info {
                    padding: 0px 12px;
                    flex: 1 1 auto;

                    .username {
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        font-weight: 600;
                        word-break: break-all;
                        color: rgba(22, 24, 35, 1);

                        .check {
                            margin-left: 4px;
                            font-size: 1.4rem;
                            color: rgb(32, 213, 236);
                        }
                    }

                    .message {
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 7;
                        -webkit-box-orient: vertical;
                        color: rgba(22, 24, 35, 0.5);
                        max-height: 130px;
                        word-break: break-word;
                    }
                }
            }
        }
    }

    .clear {
        color: deepskyblue;
        margin-left: 210px;
        cursor: pointer;
    }
}

.action-btn {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}