.login-form {

    .materialContainer {
        max-width: 460px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;

    }

    .box {
        float: left;
        padding: 60px 50px 40px 50px;
    }

}


.title {
    width: 100%;
    float: left;
    line-height: 46px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ed2553;
    position: relative;

    &:before {
        content: "";
        width: 5px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -50px;
        background: #ed2553;
    }
}

.input-wrapper {
    width: 100%;
    float: left;

    .input {
        width: 100%;
        float: left;
    }
}

.input-wrapper {
    margin-top: 30px;
    height: 70px;
}

.input-wrapper {
    position: relative;

    .input {
        position: relative;
    }
}


.input-wrapper {
    .input {
        padding-left: 10px;
        height: 60px;
        top: 10px;
        border: none;
        background: transparent;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.8);
    }

}

.input-wrapper {
    &:before {
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &:before {
        content: "";
        background: rgba(0, 0, 0, 0.1);
        z-index: 3;
    }
}

.button {
    width: 50%;
    line-height: 64px;
    left: 25%;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.1);
    font-weight: 900;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.2);

    &:hover {
        color: #ed2553;
        border-color: #ed2553;
    }
}

/* .pass-forgot {
   width: 100%;
   float: left;
   text-align: center;
   color: rgba(0, 0, 0, 0.4);
   font-size: 18px;
   position: absolute;
   top: 100px;
   right: 100px;
 } */