.menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    font-family: "IBM Plex Sans",Arial,Tahoma,sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-color);
    border-radius: 4px;
    transition: background ease-in-out 200ms;

    &.active {
        color: var(--primary);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}



.title {
    margin-left: 10px;
}